*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 28px;
  font-weight: 500;
  margin: 15px 0;
}

h2{
  font-size: 23px;
  font-weight: 500;
  margin: 15px 0;
}

h3{
  font-size: 20px;
  font-weight: 600;

}

.main__container{
  margin: 15px auto;
  max-width: 1000px;
}
.main__content{
  border-top: 2px rgb(107, 107, 107) solid;
  padding: 10px 0 0 0;
  margin: 15px 0;
}
p{
  margin: 10px;
  line-height: 23px;
}

ul{
  margin: 10px;
  position: relative;
}

li{
  margin: 7px 0;
  position: relative;
  left: 15px;
}
li::before{
  content: "";
  width: 6px;
  height: 6px;
  background: rgb(255, 149, 0);
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: -12px;
}
pre{
  background-color: rgb(55, 55, 55);
  border-radius: 5px;
}
code{

  color: white;
}

a{
  color: rgb(202, 118, 0);
  transition: 0.5s ease;
}

a:hover{
  color: rgb(150, 36, 1);
  transition: 0.5s ease;
  text-decoration: underline;
}